@page "/login"
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalSotrage

<h3>Login</h3>

<EditForm Model="user" OnSubmit="HandleLogin">
    <label for="username">Name</label>
    <InputText @bind-Value="user.UserName" />
    <label for="password">Password</label>
    <InputText @bind-Value="user.Password" type="password"/>
    <button type="submit" class="btn btn-primary"> Do it!</button>
</EditForm>

@code {
    UserLoginDTO user = new UserLoginDTO();

    async Task HandleLogin()
    {
        var result = await Http.PostAsJsonAsync("api/auth", user);
        var token = await result.Content.ReadAsStringAsync();
        Console.WriteLine(token);
        await LocalSotrage.SetItemAsStringAsync("token", token);
        await AuthStateProvider.GetAuthenticationStateAsync();
    }
}
